body {
    font-family: sans-serif;
    text-align: center;
    background-image: url('fondo-rompecabezas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}


.puzzle {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.pieza {
    width: 100px;
    height: 100px;
    background: #80deea;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

.vacia {
    background: #ffffff;
}